.boxx, .boxx2{
    background-color: #4e4e4e;
    color: white;
    border-radius: 7px;
    width: 40vw;
    padding: 5px 5px 5px 10px;
}
body{
    background-color: rgb(37, 35, 35) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.h1{
    font-size: 1.1rem;
    border-bottom: 1px solid white;
    padding: 0px 0px 10px 10px;
    
}
h2{
    color: white;
}
@media screen and (max-width:900px) {
    .boxx, .boxx2{
        width:80vw
    }
}